/* ==========================================================================
   Fonts
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Esteban);
/* ==========================================================================
   Vars
   ========================================================================== */
   $fontHeader: 'Montserrat';
   $fontCopyMain: 'Esteban';
   $headerSize: 50px;

/* ==========================================================================
	Mixins
   ========================================================================== */

   @mixin link-style($link-color, $hover-color){
		margin: 5px;
		text-decoration: none;
		color: $link-color;
   		&:hover{
   			color: $hover-color;
   			text-decoration: underline;
   		}
   }

   @mixin bg-img($imgURL){

   }
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
input,
select,
textarea {
    color: #eee;
}
html {
    font-size: 1em;
    line-height: 1.4;
   
}
body{
	margin: 0;
	color: #eee;
	font-family: 'helvetica';
}
h1{
	font-family: $fontHeader;
}
p{
	font-family: $fontCopyMain;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
	Re-Usable Styles #recycle
*/
	.section-separator{
		position: relative;
		height: 1px;
		background-color: #000; 
	}
	.about-section-wrap,.bestOf-section-wrap{
		display: flex;
	}
/********************************************/


/*
	Intro Section Styles
*/

	.intro-section-wrap{
	  	max-width: 100%;
	  	height: 100vh;
	  	background: url(/media/intro-section-bg.jpg) no-repeat center center;
	  	background-size: cover;
		.intro-section{
			position: absolute;
			top: 30%;
			right: 20%;
			display: inline-block;
			padding: 50px;
	   		border: 3px solid;
	   		text-align: center;
	   		h1, a{
	   			margin: 0;
	   			padding: 0;
	   			letter-spacing: 2px;
	   		}
	   		a{	
				@include link-style(#222,gold);
	   		} 			
		}
	}
/********************************************/



