body{
	font-family: sans-serif;
}

.page-bg{
  background: url(/media/intro-section-bg.jpg) no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
}

.homePage-nav{
	position: absolute;
	right: 20%;
	top: 200px;
	display: inline-block;
	border: 2px solid white;
	padding: 30px;
	text-align: center;
	h1{	
		color: white;
	}
	ul{
		display: inline-block;
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
			display: inline-block;
			letter-spacing: 2px;
			a{
				&:hover{
					color: gold;
					text-decoration: underline;
				}
			}
		}
	}
}